{{#> html title='Order detail'}}
    <h1>{{order.title}}</h1>
    {{order.region.name}} {{order.salary}}  {{order.type}}
    <br>
    <br>
    Popis
    <hr>
    {{order.description}} <br>
    <br>
    <br>
    Ďaľšie informácie
    <hr>
    {{order.additionalInfo}} <br>
    Kategória: {{order.category.name}}<br>
    Vytvorené: {{order.createdAt}}<br>
    Spoločnosť: {{order.company.name}}<br>
{{/html}}